<!DOCTYPE html>
<html lang="en">

<head>
  {{> meta}}

  <meta property="og:title" content="{{{post.title}}}" />
  <meta property="og:description" content="{{{post.excerpt}}}" />
  <meta name="description" content="{{{post.excerpt}}}" />
  <meta property="og:url" content="https://daniloalm.com/posts/{{{post.id}}}" />
  <title>{{{post.title}}}</title>
</head>

<body>
  <script>0</script>
  {{> nav}}

  <main class="post-container">
{{> post_content}}
    {{> toc}}
  </main>

{{> toc_scripts}}
</body>

</html>