<!DOCTYPE html>
<html lang="en">

<head>
  {{> meta}}
  {{> hljs_assets}}

  <meta property="og:title" content="{{{post.title}}}" />
  <meta property="og:description" content="{{{post.excerpt}}}" />
  <meta name="description" content="{{{post.excerpt}}}" />
  <meta property="og:url" content="https://daniloalm.com/posts/{{{post.id}}}" />
  <title>{{{post.title}}}</title>
</head>

<body>
  <script>0</script>
  {{> nav}}

  <main class="post-container">
<!-- prettier-ignore -->
{{> post_content}}
    {{> toc}}
  </main>

  {{> toc_init}}
  {{> hljs_init}}
</body>

</html>